@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 400;
  src:
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff2')
      format('woff2'),
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.woff')
      format('woff'),
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Regular.ttf')
      format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 500;
  src:
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff2')
      format('woff2'),
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.woff')
      format('woff'),
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Medium.ttf')
      format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo';
  font-weight: 700;
  src:
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff2')
      format('woff2'),
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.woff')
      format('woff'),
    url('../../public/fonts/SpoqaHanSansNeo_TTF_subset/SpoqaHanSansNeo-Bold.ttf')
      format('truetype');
}
@font-face {
  font-family: 'SDSamliphopangche';
  src: url('../../public/fonts/SDSamliphopangcheTTF/SDSamliphopangcheTTFBasic.ttf');
}

body {
  background-color: beige;
  height: 100vh;
  width: 100vw;
  color: #f3f3f3;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  font-size: 16px;
}

@media screen and (max-width: 375px) {
  :root {
    font-size: 14px;
  }
}

/* text-base w-full px-7 py-10 overflow-y-scroll basis-full */
main {
  font-size: 1rem;
  width: 100%;
  padding: 2.5rem 1.75rem;
  overflow-y: scroll;
  flex-basis: 100%;
}

.landing {
  background: linear-gradient(180deg, #000 0%, #fff 84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-featuring {
  font-feature-settings:
    'clig' off,
    'liga' off;
}

.carousel-container {
  perspective: 450px;
  transform-style: preserve-3d;
}
